body {
    background: red;
    color: black;
}
header  {
    border-bottom: solid 2px white;
    padding: 0px;
    font-size: 32px;
    color: black;
}
section {
    background: black;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}